.speech-bubble {
  // position: 'relative'
}
body {
  scroll-snap-type: y proximity;
  /* Reserve space for header plus some extra space for sneak peeking. */
  // scroll-padding-top: 15vh;
  overflow-y: scroll;
}

section {
  scroll-snap-align: start;
}


.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 60%;
	width: 0;
	height: 0;
	border: 40px solid transparent;
	border-top-color: #404040;
	border-bottom: 0;
	border-right: 0;
	margin-left: -20px;
	margin-bottom: -40px;

    // border-bottom-left-radius: 25px 115px;
    // border-bottom-right-radius: 155px 25px;
    // border-top-left-radius: 15px 225px;
    // border-top-right-radius: 25px 150px;
}



.background-0{
    background: linear-gradient(10deg, rgba(255, 215, 0, 0.15) 27%, rgba(218,225,231, 0.10) 50%
    );
}

.background {
    background: linear-gradient(-10deg, rgba(218,225,231, 0.18) 30%, rgba(255, 215, 0, 0.15) 55%);

}

.background-full {
  background: rgba(255, 215, 0, .15);
}



.border-yo {
    // border-color: black;
    border-width: 3px;
    border-bottom-left-radius: 25px 115px;
    border-bottom-right-radius: 155px 25px;
    border-top-left-radius: 15px 225px;
    border-top-right-radius: 25px 150px;
}

h1 {
font-family: 'Cabin Sketch';
color: config('colors.black')
}


